node_modules
dist
build
.env

uploads/avatars/*
uploads/posts/*

# docker-compose.override.yml
# .dockerignore

*.tsbuildinfo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json